<a href="https://colab.research.google.com/github/Aayush6377/Machine-Learning-Lab-programs-Sem-6/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Apple Various Operation on a Student-List-Exp.xlsx file.**

### Write Python Script to upload the shared Dataset in Python environment.

In [35]:
#Creating DataFrame
import pandas as pd
import numpy as np
df=pd.read_excel("/content/Student-List-Exp.xlsx",index_col="S.No.")
print("Printing 5 rows and 3 columns\n",df.iloc[:5,:2])

Printing 5 rows and 3 columns
       Semester                           Branch /Course
S.No.
NaN        NaN                                      NaN
1.0      5CSA1  B.Tech - Computer Science & Engineering
2.0      5CSA1  B.Tech - Computer Science & Engineering
3.0      5CSA1  B.Tech - Computer Science & Engineering
4.0      5CSA1  B.Tech - Computer Science & Engineering

### Perform the following Operations on DataSet

In [36]:
#Rename the columns
print("Original columns\n",df.columns)
df.rename(columns={"Branch /Course":"Course","University Registration No. (Issued by R&S Branch)":"Registration No.",
                   "Date of Admission in the Present Class/Course":"Admission Date",
                   "Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-SN":"Student Name",
                   "Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-FN":"Fathers Name",
                   "Aadhaar No. of Student":"Aadhaar No.", "Updated Mobile No. of Student":"Mobile No.","Updated E-mail ID":"Email ID",
                   "Total Due Fee for Current Semester / (Previous semester if pending)":"Due Fee",
                   "Fee Paid for Current Semester / (Previous semester if pending)":"Paid Fee"},inplace=True)
print("New columns\n",df.columns)

Original columns
 Index(['Semester', 'Branch /Course',
       'University Registration No. (Issued by R&S Branch)',
       'Date of Admission in the Present Class/Course', 'Roll No.',
       'Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-SN',
       'Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-FN',
       'Gender', 'Religion', 'Category', 'Aadhaar No. of Student',
       'Updated Mobile No. of Student', 'Updated E-mail ID', 'State',
       'Total Due Fee for Current Semester / (Previous semester if pending)',
       'Fee Paid for Current Semester / (Previous semester if pending)',
       'mentors', 'Unnamed: 18'],
      dtype='object')
New columns
 Index(['Semester', 'Course', 'Registration No.', 'Admission Date', 'Roll No.',
       'Student Name', 'Fathers Name', 'Gender', 'Religion', 'Category',
       'Aadhaar No.', 'Mobile No.', 'Email ID', 'State', 'Due Fee', 'Paid Fee',
       'mentors', 'Unnamed: 18'],
      dtype='object')

In [41]:
#Count no. of rows and columns
print("Number of rows: ",len(df))
print("Number of columns: ",len(df.columns))

Number of rows:  63
Number of columns:  18

In [47]:
#Count no. of male and female
print("Number of Male and Female Students\n")
print(df.groupby("Gender")["Gender"].count())

Number of Male and Female Students

Gender
FEMALE           13
MALE             48
Male / Female     1
Name: Gender, dtype: int64

In [51]:
#List Category wise students
print("Category wise students\n")
print(df.groupby("Category")["Student Name"].count())

Category wise students

Category
GENERAL                    48
Gen./SC/ST/OBC / Others     1
OBC                        13
Name: Student Name, dtype: int64

In [55]:
#Count Null values
print(df.isnull().sum())
print("\nTotal NULL values: ",sum(df.isnull().sum()))

Semester             1
Course               2
Registration No.     2
Admission Date       2
Roll No.             1
Student Name         0
Fathers Name         2
Gender               1
Religion             2
Category             1
Aadhaar No.          3
Mobile No.           2
Email ID             2
State                3
Due Fee              2
Paid Fee             4
mentors              1
Unnamed: 18         62
dtype: int64

Total NULL values:  93

In [58]:
#List of students for Due Fee
print("List of students for Due Fee:-\n")
print(df[df["Due Fee"]!=0].loc[:,"Student Name"])

List of students for Due Fee:-

S.No.
NaN     Name of Student
15.0        HARSH SINGH
24.0     ASHUTOSH KUMAR
39.0         PIYUSH RAJ
62.0         YASH YADAV
Name: Student Name, dtype: object

In [60]:
#List of all students where mentor name is Dr INDU KASHYAP
print("Students with Dr INDU KASHYAP:-\n")
print(df[df["mentors"]=="Dr INDU KASHYAP"].loc[:,"Student Name"])

Students with Dr INDU KASHYAP:-

S.No.
3.0    MANAS RANJAN
Name: Student Name, dtype: object

In [63]:
#List of Students where Aadhaar No. is not available
print("Students with missing Aadhaar No.:-\n")
print(df[df["Aadhaar No."]==np.nan].loc[:,"Student Name"])

Students with missing Aadhaar No.:-

Series([], Name: Student Name, dtype: object)

In [65]:
#List all the students from Delhi
print("List all the students from Delhi\n")
print(df[df["State"]=="DELHI"].loc[:,"Student Name"])

List all the students from Delhi

S.No.
4.0        SUMIT KUMAR CHAURASIA
9.0           N. JACINTHA JANICE
13.0    KRISHAN KANT KANT SHARMA
21.0        MAHENDRA SINGH RAWAT
26.0                 ARPITHA RAJ
28.0                 YASH BABBAR
29.0                 SUMIT SINGH
30.0             KANISHKA SHARMA
33.0               KASHISH GOGIA
46.0             SHASHANK PANDEY
50.0                  AAKASH RAI
59.0               VINAY KHULBEY
Name: Student Name, dtype: object

In [66]:
#Extract Specific column Name, Rollno, Mentor
print(df[["Roll No.","Student Name","mentors"]])

               Roll No.           Student Name                   mentors
S.No.
NaN                 NaN        Name of Student                       NaN
1.0    1/22/FET/BCS/002             YASH VERMA           Dr SURESH KUMAR
2.0    1/22/FET/BCS/003      KUMARI JAN NASHIN        Ms SAMEEKSHA KHARE
3.0    1/22/FET/BCS/004           MANAS RANJAN           Dr INDU KASHYAP
4.0    1/22/FET/BCS/005  SUMIT KUMAR CHAURASIA  Dr RAVINDRA KUMAR CHAHAR
...                 ...                    ...                       ...
58.0   1/22/FET/BCS/063       HANI SINGH RAWAT   Dr URVASHI RAHUL SAXENA
59.0   1/22/FET/BCS/064          VINAY KHULBEY                 Dr SAVITA
60.0   1/22/FET/BCS/434               Arsh Jha           Dr NITASHA SONI
61.0   1/21/FET/BCS/063         HANSHIKA YADAV           Dr SHOBHA TYAGI
62.0       12401005M002             YASH YADAV           Dr MAHBOOB ALAM

[63 rows x 3 columns]