<a href="https://colab.research.google.com/github/Aayush6377/Machine-Learning-Lab-programs-Sem-6/blob/main/Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Experiment 1. Experiment with Following Pandas Operations through Python Commands**

### 1.1 Introduction to Pandas

In [1]:
import numpy as np
import pandas as pd

In [4]:
p=pd.Series()
print("Empty Series")
print(p)

print("Numerical Series")
p=pd.Series([x for x in range(2,21,2)])
print(p)

print("Character Series")
p=pd.Series([x for x in "abcdefgh"])
print(p)

print("Series by dictionary")
dic={'A':1,'B':2,'C':3}
p=pd.Series(dic)
print(p)

Empty Series
Series([], dtype: object)
Numerical Series
0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64
Character Series
0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
dtype: object
Series by dictionary
A    1
B    2
C    3
dtype: int64

In [3]:
#Creating using list
q=pd.DataFrame([1,2,3,4,5,6])
print(q)

#Creating using Dictionary
dic={'Name':['Aayush','Arpit','Vinayak','Kirti'],'Class':['6C1','6B2','6B1','5C2'],'Marks':[67,89,92,56]}
q=pd.DataFrame(dic)
print(q)

   0
0  1
1  2
2  3
3  4
4  5
5  6
      Name Class  Marks
0   Aayush   6C1     67
1    Arpit   6B2     89
2  Vinayak   6B1     92
3    Kirti   5C2     56

### 1.2 Data Selection and Indexing

In [12]:
p=pd.Series([x for x in "abcdefgh"],index=range(10,90,10))
print(p)

# Normal way
print("Normal")
print(p[30])
print(p[1:6])
print(p[:7])

# Head and Tail functions
print("Head and Tail")
print(p.head())
print(p.tail(3))

#  loc function
print("Loc function")
print(p.loc[10])
print(p.loc[30:60])

# iloc function
print("iloc function")
print(p.iloc[3])
print(p.iloc[2:6])

10    a
20    b
30    c
40    d
50    e
60    f
70    g
80    h
dtype: object
Normal
c
20    b
30    c
40    d
50    e
60    f
dtype: object
10    a
20    b
30    c
40    d
50    e
60    f
70    g
dtype: object
Head and Tail
10    a
20    b
30    c
40    d
50    e
dtype: object
60    f
70    g
80    h
dtype: object
Loc function
a
30    c
40    d
50    e
60    f
dtype: object
iloc function
d
30    c
40    d
50    e
60    f
dtype: object

In [23]:
dic={'Name':['Aayush','Arpit','Vinayak','Kirti'],'Class':['6C1','6B2','6B1','5C2'],'Marks':[67,89,92,56]}
q=pd.DataFrame(dic)
print(q)

#Extracting columns
print(q['Name'])
print(q[['Class','Marks']])
print(q.loc[:,'Marks'])
print(q.iloc[:,0:2])

#Extracting rows
print(q.loc[2])
print(q.iloc[2:3])

#Extracting Subsets
print(q.loc[[1,3],["Name","Marks"]])
print(q.iloc[0:2,0:2])

      Name Class  Marks
0   Aayush   6C1     67
1    Arpit   6B2     89
2  Vinayak   6B1     92
3    Kirti   5C2     56
0     Aayush
1      Arpit
2    Vinayak
3      Kirti
Name: Name, dtype: object
  Class  Marks
0   6C1     67
1   6B2     89
2   6B1     92
3   5C2     56
0    67
1    89
2    92
3    56
Name: Marks, dtype: int64
      Name Class
0   Aayush   6C1
1    Arpit   6B2
2  Vinayak   6B1
3    Kirti   5C2
Name     Vinayak
Class        6B1
Marks         92
Name: 2, dtype: object
      Name Class  Marks
2  Vinayak   6B1     92
    Name  Marks
1  Arpit     89
3  Kirti     56
     Name Class
0  Aayush   6C1
1   Arpit   6B2

### 1.3 Data Cleaning and Preprocessing